body {
/*    position: relative;*/
    margin: 0;
		width: 100%;
/*    min-height: 100%;*/
    font-family: "Lucinda Console", Consolas, monospace;
    background-color: #ffffff;
}

/*Nav Bar (Help from CodePen: http://codepen.io/macsupport/pen/bKFzD*/
.navbar-nav, .navbar-default {
	border-radius: 0;
	border: none;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: white; 
}

.navbar-toggle {
    margin-top: 16px;
}

.navbar-brand {
    margin-top: 10px;
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
	font-size: 18px;
	font-weight: 300;
/*    text-decoration: none;*/
    text-align: right;
}

.navbar-nav {
    float: right;
}

.navbar-nav > li:hover,
.navbar-nav > li:focus {
	color: #444444;
	transition: 0.5s ease;
	height: 100%;
/*    background-color: #ccc;*/
    color: #ffffff;
}

@media screen and (min-width:768px) {
/*
    .navbar-nav {
        float: left;
    }
*/
    
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
    }
}

/*Homepage Jumbotron Set-Up*/
.jumbotron {
    display: flex;
    margin: 0;
    align-items: center;
    background-color: rgba(178, 0, 58, 0.7);
    background-image: url("./images/uncommon17.jpg");
    opacity: 0.8;
    background-size: cover;
    color: #ffffff;
    height: 600px;
    text-shadow: 0.70px 0.70px 0.70px #000000;
    text-align: center;
}

.jumbotron h1 {
    font-size: 7rem;
    font-weight: bolder;
    text-align: center;
/*    margin-top: 5px;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*    margin-top: 5px;*/
/*    padding-left:15px;*/
/*    padding-right: 15px;*/
    color: #ffffff;
}

.jumbotron h2 {
/*    font-size: 30px;*/
    text-align: center;
/*    margin-top: 5px;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*    margin-top: 5px;*/
/*    padding-left:20px;*/
/*    padding-right: 20px;*/
    color: #ffffff;
}

/*Pages*/
section .container {
    display: flex;
}

.title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 50px;
}

.content {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.content p {
    margin-bottom: 20px;
}

.icon {
    width: 47px;
    height: 47px;
}


/*General Footer*/
footer {
    display: flex;
		margin-top: 1em;
}

footer p {
    position: absolute;
    text-align: left;
    font-size: 12px;
}

.name h1 {
    text-shadow: black 5px 5px 3px;
}

.name h2 {
    text-shadow: black 3px 3px 1px;
}


.name {
    margin: auto;
}

ul {
    float: left;
}
